@font-face {
  font-family: 'Title';
  src: url('../main-menu/images/light_pixel-7.ttf') format('truetype');
}

#title2 {
  text-align: center;
  font-family: 'Title';
  font-weight: bold;
  font-size: 80px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(238, 75, 43);
}